<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hey this is a small application created by me as part of my node course.</p>
        <p>This site got created by Bhavani kuppagiri and data is retrieved from map box and dark sky apis</p>
        <img class="portrait" src="/img/me.jpeg">
    </div>
    
    {{>footer}}
</body>

</html>